.main-content {
    margin-top: 30px;
}
.content {
    margin: 0 auto;
    width: 500px;
    margin-top: 20px;
}
.content-menu {
     margin: 0 auto 0 30px;
     width: 500px;
     float: left;
 }
.content-list {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}
form div, .question, h1 {
    margin: 10px;
}
body {
    background-color: lightgray;
}
.cursor-grab {
    cursor: grab;
}
